hr {
	width: 50%;
	height: 150%;
	color: #0077B4;
}

* {
	font-family: sans-serif;
}

img	{
	border-color: #44C0BF;
	
}
ul {
	list-style-type: none;
	text-align: center;
	
}

li {
	
	margin-bottom: 10px;
	padding: 0;
	
}

h4{
	color: #0077B4;


}

h5{
	color: #44C0BF;
}

figcaption {
	font-weight: bolder;
	color: #0077B4;

}